{% extends 'master.html' %}

{% block title %}
    Mobile phone
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h3>
                You have searched for...
            </h3>
            <h2>
               {{ telefon.model }}
            </h2>
            <p style="text-align:right;font-size:30px;color:black"><b>
                Rating: {{avgOcena}}/10
            </b></p>     
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="color:coral;"><b>Brand:</b></p>
                <p>{{ telefon.marka }}</p>
                <p style="color:coral;"><b>Colour:</b></p>
                <p>{{ telefon.boja }}</p>
                <p style="color:coral;"><b>Memory:</b></p>
                <p>{{ telefon.memorija }}</p>
                <p style="color:coral;"><b>Price in $:</b></p>
                <p>{{ telefon.cena }}</p>
            </blockquote>
        </div>
    </div>

{% endblock %}