{%  extends 'master.html' %}

{% block title %}
    All Mobile Phones By Price
{% endblock %}

{% block content %}

  <div id="container" style="width: 75%;">
    <canvas id="chartPrice" data-url="{% url 'baza:chartPrice' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $chartPrice = $("#chartPrice");
      $.ajax({
        url: $chartPrice.data("url"),
        success: function (data) {

          var ctx = $chartPrice[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Models of mobile phones' ,
                backgroundColor: '#F7A95F',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Mobile Phones Filtered by Price Bar Chart'
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}
